<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lite6_scene_complex">

  <xacro:arg name="robot_type" default="lite" />
  <xacro:arg name="dof" default="6" />

  <xacro:include filename="$(find xarm_description)/urdf/xarm_device.urdf.xacro" />

  <material name="dark_grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <link name="zed_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://rviz_marker/meshes/ZEDM.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark_grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://rviz_marker/meshes/ZEDM.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_zed_joint" type="fixed">
    <parent link="world"/> 
    <child link="zed_camera_link"/>
    <origin xyz="0.5 0.5 0.4" rpy="-0.621 0.0 2.678"/> 
  </joint>

  <link name="zed_optical_frame"/>
  <joint name="zed_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    <parent link="zed_camera_link"/>
    <child link="zed_optical_frame"/>
  </joint>

</robot>
