[Desktop Entry]
Name=ROS2 Nexus
Comment=Launch ROS2 Nexus Web Dashboard
Exec=/home/mk/dev_ws/ros2_nexus/ros2_nexus_web_start.sh
Icon=/home/mk/dev_ws/ros2_nexus/ros2_nexus_icon.png
Terminal=false
Type=Application
Categories=Utility;X-Robot;
